section.information
    .containers
        .info__left
            .info__left_bar
            .info__left_shortStory
                img(src='/imgs/shortnews-01.png', alt='Smiley face')
                .info__left_shortStory_author
                    h1 Pola & Bryson’s Top 10 Winter Soothers
                    span Nguyen<br>
                    span August 18, 2017 3:48 AM
                    p Pola & Bryson sign off an immense summer with their sublime Pacific EP and a selection of essential D&B soothers for the colder months.
                    .readMore Read More
            .info__left_shortStory
                img(src='/imgs/shortnews-01.png', alt='Smiley face')
                .info__left_shortStory_author
                    h1 Pola & Bryson’s Top 10 Winter Soothers
                    span Nguyen<br>
                    span August 18, 2017 3:48 AM
                    p Pola & Bryson sign off an immense summer with their sublime Pacific EP and a selection of essential D&B soothers for the colder months.
                    .readMore Read More
        .info__right
            .info__right-bar