section.information
    .containers
        .info--left
            .info--left-bar
            .info--left-shortStory
                img(src='/imgs/shortnews-01.png', alt='Smiley face')
                .info--left-shortStory-author
                    h1 Pola & Bryson’s Top 10 Winter Soothers
                    span Nguyen<br>
                    span August 18, 2017 3:48 AM
                    p Pola & Bryson sign off an immense summer with their sublime Pacific EP and a selection of essential D&B soothers for the colder months.
                    .readMore Read More

        .info--right
            .info--right-bar