extends layouts/home

block head_end
	link(rel='stylesheet', href='css/glide/glide.core.min.css')
	link(rel="stylesheet" href="css/glide/arrow.css")
	link(rel="stylesheet" href="css/nprogress.css")
	link(rel="stylesheet" href="css/main.min.css")

block content
	include ./modules/content/content
	include ./modules/information/information

block body_end
	script(src='/js/glide.min.js')
	script(src='/js/glide.js')