.single-page
    .containers
        display: flex
        flex-direction: row
        justify-content: space-between
        // height: 100vh
        // background-color: #d43442
        margin-top: 16px
.theheader
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 870px
.theheader__text
    width: 585px
    &__date
        width: 100%
        background-color: $main-color

.theheader__text--bread
    width: 870px
    height: 32px
    background-color: $dark
