section.single-page
    .containers
        .single-left
            .theheader__text--bread
            .theheader                
                .theheader__text                    
                    .theheader__text__date
                        h1 Pola & Bryson’s Top 10 Winter Soothers
                    .theheader__text__author
                        p Irma Nguyen
                        p August 18, 2017 3:48 AM
                .theheader__image
                    img(src='/imgs/shortnews-02.png', alt='Smiley face')

            .single-left-text
                p
                    | Save the date: December 9.
                    | Much like last year, we’ve tweaked a few things to make the Awards even better and accessible for our growing fanbase around the world. This year that means there will be no live ceremony, instead it will be a full TV-level broadcast with all the results, more in-depth information, more insight from your favourite artists and more salutes for the entire scene.
                    | Whilst we love a good-ol’ fashioned piss up with our extended D&B family, it’s time to break out of our industry bubble and focus on the awards themselves and the stories behind them. It’s set to be our best Awards yet – here’s why, and exactly what to expect…
                    | 2019 has been year of highs, and a year of lows. It’s been a year filled with global instability and insecurity on so many levels, but one thing has remained constant, and that’s the passion and energy our genre continues to inspire and stir in so many of us around the globe.

        .sigle-right