section.single-page
    .containers
        .single-left
            .theheader
                .theheader__text
                    .theheader__text__date
                    .theheader__text__author
                .theheader__image

            .single-left-text


        .sigle-right