section.single-page
    .containers
        .single-left
            .theheader__text--bread
            .theheader                
                .theheader__text                    
                    .theheader__text__date
                        h1 Pola & Bryson’s Top 10 Winter Soothers
                    .theheader__text__author
                        p Irma Nguyen
                        p August 18, 2017 3:48 AM
                .theheader__image
                    img(src='/imgs/shortnews-02.png', alt='Smiley face')

            .single-left-text


        .sigle-right