.contetn
  display: flex
  flex-direction: columns

.contetnImg
  height: auto

.text
  color: #EFEFEF
  background-color: #44464A
  padding-left: 15px
  padding-right: 15px

.text h3
  padding-top: 16px
  padding-bottom: 16px

@media screen and (max-width: 500px)
  .glide__arrows
    display: none
  

@media screen and (max-width: 1200px)
  .glide
    width: 100%
    .contetn
      display: block
    .contetnImg
      height: auto
      img 
        width: 100%
        height: 100%
    .text
      padding-bottom: 16px
