#Glide.glide
    .glide__arrows
        button.glide__arrow.prev(data-glide-dir='<')
            i.fas.fa-angle-left
        button.glide__arrow.next(data-glide-dir='>')
            i.fas.fa-angle-right
    .glide__wrapper
        .glide__track
            .glide__slide
                .contetn
                    img(src='/imgs/slider_01.jpg', alt='Image')
                    .text
                        h3 the Prodigy
                        p
                        | No Tourists is the seventh studio album by English electronic music band The Prodigy, released on 2 November 2018 on Take Me to the Hospital.
            .glide__slide
                .contetn
                    img(src='/imgs/slider_02.jpg', alt='Image')
                    .text
                        h3 the Prodigy
                        p
                        | No Tourists is the seventh studio album by English electronic music band The Prodigy, released on 2 November 2018 on Take Me to the Hospital.
            .glide__slide
                .contetn
                    img(src='/imgs/slider_03.jpg', alt='Image')
                    .text
                        h3 the Prodigy
                        p
                        | No Tourists is the seventh studio album by English electronic music band The Prodigy, released on 2 November 2018 on Take Me to the Hospital.